<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>마이페이지</title>
</head>

<body>
    <div class="signup-container">
        <h2>/mypage</h2>

        <li><a href>(임)프로필사진(진)</a></li>
        <li><a href="/mypage/editProfile">회원정보 수정</a></li>
        <li><a href="/notice/allboard">(아직) 쪽지 확인</a></li>
        <li><a href="/help/help">(구현) 내가 쓴 게시글</a></li>
        <li><a href="/users/signup">(안했음) 내 문의 내역</a></li>

    </div>
</body>
</html>