<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <title>비밀번호변경</title>
</head>
<body>
<script src="/js/duplicate.js"></script>
<script src="/js/reconfirmPassword.js"></script>

    <h2>비밀번호 변경</h2>
    <h2>/mypage/changePassword</h2>
    <h1>새 비밀번호 설정</h1>
    <form th:action="@{/mypage/updatePassword}" method="post" th:object="${usersDTO}">
        <div class="form-group">
            <label for="id">아이디 : </label>
            <a id="id" th:text="${users.userId}"></a>
        </div>
        <div class="form-group">
            <label for="password">변경할 비밀번호:</label>
            <input type="password" id="password" name="password" placeholder="Password" required>
        </div>
        <div class="form-group">
            <label for="pswdCheck">비밀번호 재확인:</label>
            <input type="password" id="pswdCheck" placeholder="Password 재입력" onkeyup="checkPasswordMatch()" required>
            <span id="passwordMatchMessage"></span>
        </div>

        <br>
        <button type="submit" id="submitBtn" onclick="return submitCheckPassword()">비밀번호 변경</button>
    </form>

</body>

</html>