<!DOCTYPE html>

<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메인</title>
</head>
<body>

<h2>/notice/board.jsp</h2>
<hr>

<form action="/notice/allboard" method="get" >
    <input type="submit" value="전체" width="100px" height="100px">
</form>

<form action="/notice/board" method="get" >
    <input type="submit" value="공지" width="100px" height="100px">
</form>

<form action="/notice/event" method="get">
    <input type="submit" value="이벤트" width="100px" height="100px">
</form>

<form action="/notice/write" method="get">
    <input type="submit" value="글쓰기" width="100px" height="100px">
</form>

<hr>

<table border="1">


    <tr>
        <td>제목</td>
        <td>작성자</td>
        <td>작성날짜</td>
        <td>조횟수</td>
    </tr>


    <tr>
        <td>제목</td>
        <td>작성자</td>
        <td>작성날짜</td>
        <td>조횟수</td>
    </tr>

</table>


</body>
</html>